/* core/static/core/styles.css */

body {
    background-color: white;
    font-family: 'Inter', sans-serif;
}

/* Navbar */
.custom-green {
    background-color: #198754;
}

.navbar-brand {
    font-weight: bold;
    color: #2c3e50 !important;
}

.nav-link:hover {
    color: #2f855a !important;
}

.navbar {
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.navbar-brand span {
    font-weight: 700;
    color: #2f855a;
}

.container { 
    background-color: #fff; 
    padding: 20px; border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
}

/* Hero Section */
.hero-section {
    height: 50vh;
    
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
                url('/static/core/images/fam.jpg') center/cover no-repeat;
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-section h2,
.hero-section p {
    color: #6BBF73; 
}

/* Cards */
.card {
    border: none;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.12);
}

footer.custom-green {
    font-size: 0.85rem;
    color: #fff;
}
    
