{% extends 'core/base.html' %}

{% block content %}

<h2>Marketplace</h2>
{% if is_farmer %}
  <a class="btn btn-success mb-3" href="{% url 'product_create' %}">Post a Product</a>
{% endif %}

{% if weather %}
 <div class="alert alert-info d-flex flex-column flex-md-row align-items-center gap-3">
    <div>
      <img src="http://openweathermap.org/img/wn/{{ weather.icon }}@2x.png" alt="weather icon" width="60">
    </div>
    <div>
      <strong>Weather in {{ location|default:"Oyo State" }}:</strong><br>
      {{ weather.description|title }}, {{ weather.temperature }}°C
    </div>
  </div>
{% endif %}

<form method="GET" class="mb-4">
  <select name="category" class="form-select mb-2">
    <option value="">All Crops</option>
    <option value="Tomato">Tomato</option>
    <option value="Maize">Maize</option>
    <option value="Pepper">Pepper</option>
    <option value="Yam">Yam</option>
    <option value="Rice">Rice</option>
    <option value="Cassava">Cassava</option>
    <option value="Okra">Okra</option>
    <option value="Onion">Onion</option>
    <option value="Eggplant">Eggplant</option>
    <option value="Carrot">Carrot</option>
    <option value="Cucumber">Cucumber</option>
    <option value="Watermelon">Watermelon</option>
  </select>

  <input type="text" name="location" class="form-control mb-2" placeholder="Filter by location" {% if location %}value="{{ location }}"{% endif %}>
  <input type="number" step="0.01" name="min_price" class="form-control mb-2" placeholder="Min price" value="{{ min_price }}">
  <input type="number" step="0.01" name="max_price" class="form-control mb-2" placeholder="Max price" value="{{ max_price }}">
  <button type="submit" class="btn btn-primary w-100">Search</button>
</form>

<hr>

<ul class="list-group">
  {% for product in products %}
    <li class="list-group-item">
      <strong>{{ product.title }}</strong> - ₦{{ product.price }}<br>
      {{ product.description }}<br>
      Quantity: {{ product.quantity }}<br>
      Location: {{ product.city }}, {{ product.state }}<br>
      Posted by: {{ product.farmer.username }} on {{ product.date_posted|date:"M d, Y - H:i A" }}

      {% if product.image %}
        <br><img src="{{ product.image.url }}" width="100" class="mt-2 rounded">
      {% endif %}

    </li>
  {% empty %}
    <p>No products listed yet.</p>
  {% endfor %}
</ul>

<nav class="mt-4">
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% endif %}

    <li class="page-item disabled"><span class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span></li>

    {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% endif %}
  </ul>
</nav>

{% endblock %}
